---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import Route from "@/components/route/index.astro";
import { ArrowLeftIcon } from "@heroicons/react/24/solid";
---

<style>
  #header {
    background-image: url("/destinations/velefique.jpg");
    height: 60vh;
  }
</style>

<Layout title="The Average Cyclist">
  <header
    id="header"
    class="bg-center bg-cover bg-no-repeat bg-fixed flex items-center justify-center h-screen pb-12"
  >
    <div class="relative flex flex-col items-center md:flex-row" id="services">
      <div class=" bg-orange px-8 ">
        <h1 class="text-6xl mt-2 sm:text-6xl text-center font-mediumrounded-md text-white">
          Asturias
        </h1>
        <p class="text-lg mt-2 mb-2 font-normal text-center text-white ">
          Where monster climbs are the rule rather than the exception
        </p>
      </div>
    </div>
  </header>

  <main class="space-y-20 mt-8">
    <Container>
      <div>
        <div class="mb-12 w-full">
          <p class="mb-4">
            Asturias, nestled in the verdant northern region of Spain, is a paradise for cyclists seeking dramatic landscapes and challenging rides. Known for its rugged mountains, lush valleys, and scenic coastlines, Asturias offers a variety of routes that cater to both road cyclists and mountain biking enthusiasts. The region's iconic climbs, such as the Alto de l'Angliru and Lagos de Covadonga, are renowned for their steep gradients and breathtaking views, making them a must-ride for those looking to test their limits. 
            With its rich cultural heritage, charming villages, and unspoiled nature, Asturias provides an unforgettable cycling experience in one of Spain's most picturesque regions.        </div>

        <h2 class="text-3xl font-medium leading-none mb-5 mt-8">Routes</h2>

        <div class="flex flex-col w-full mb-5 md:flex-row">
          <Route
            description="A punchy ride through the Montes de Málaga with more than 1000m of elevation gain in less than 50 km."
            title="Lagos de Covadonga"
            id="destinations/malaga/puertoleon"
            distance="50"
            elevation="1050"
          />

          <Route
            title="Puerto de la Cubilla"
            description="The road of the 1000 turns to Casabermeja is the perfect training climb."
            id="destinations/malaga/casabermeja"
            distance="75"
            elevation="1400"
          />
        </div>
          
      <a href="/destinations"><span class="inline-flex items-baseline mt-4 mb-2"><ArrowLeftIcon className="size-3 mr-2" /> Back to destinations</span></a>

  
    </Container>
  </main>
</Layout>
