---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import Route from "@/components/route/index.astro";
import { ArrowLeftIcon } from "@heroicons/react/24/solid";
---

<style>
  #header {
    background-image: url("/the-average-cyclist/destinations/granada.jpg");
    height: 60vh;
  }
</style>

<Layout title="The Average Cyclist">
  <header
    id="header"
    class="bg-center bg-cover bg-no-repeat bg-fixed flex items-center justify-center h-screen pb-12"
  >
    <div class="relative flex flex-col items-center md:flex-row" id="services">
      <div class=" bg-orange px-8 ">
        <h1 class="text-6xl mt-2 sm:text-6xl text-center font-mediumrounded-md text-white">
          Granada
        </h1>
        <p class="text-lg mt-2 mb-2 font-normal text-center text-white ">
          Home of one of the most epic climbs in Europe
        </p>
      </div>
    </div>
  </header>

  <main class="space-y-20 mt-8">
    <Container>
      <div>
        <div class="mb-12 w-full">
          <p class="mb-4">
            Granada, set against the backdrop of the majestic Sierra Nevada mountains in southern Spain, is a captivating destination for cyclists. The region offers a unique blend of challenging climbs, serene valleys, and picturesque routes that wind through olive groves and traditional Andalusian villages. Cycling enthusiasts can test their endurance on routes like the iconic climb to Pico Veleta, one of the highest paved roads in Europe, or enjoy more leisurely rides with stunning views of the Alhambra and the surrounding countryside. Granada's rich history, vibrant culture, and varied terrain make it a perfect spot for a memorable cycling adventure.
                    <h2 class="text-3xl font-medium leading-none mb-5 mt-8">Routes</h2>

        <div class="flex flex-col w-full mb-5 md:flex-row">
          <Route
            description="A punchy ride through the Montes de Málaga with more than 1000m of elevation gain in less than 50 km."
            title="Sierra Nevada"
            id="destinations/malaga/puertoleon"
            distance="50"
            elevation="1050"
          />

          <Route
            title="La Cabra"
            description="The road of the 1000 turns to Casabermeja is the perfect training climb."
            id="destinations/malaga/casabermeja"
            distance="75"
            elevation="1400"
          />
        </div>
        
    
        <a href="/the-average-cyclist/destinations"><span class="inline-flex items-baseline mt-4 mb-2"><ArrowLeftIcon className="size-3 mr-2" /> Back to destinations</span></a>


    </Container>
  </main>
</Layout>
