---
import Layout from "../../layouts/Layout.astro";
import Services from "../../components/Destinations.astro";
---

<Layout title="The Average Cyclist">
  <main class="space-y-20">
    <Services />
  </main>
</Layout>
