---
import Layout from "../../layouts/Layout.astro";
import Destinations from "@/components/Destinations.astro";
---

<Layout title="The Average Cyclist">
  <main class="space-y-20 mt-20">
    <Destinations />
  </main>
</Layout>
