---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import Route from "@/components/route/index.astro";
---

<style>
  #header {
    background-image: url("/the-average-cyclist/destinations/pyrenees.jpg");
    height: 60vh;
  }
</style>

<Layout title="The Average Cyclist">
  <header
    id="header"
    class="bg-center bg-cover bg-no-repeat bg-fixed flex items-center justify-center h-screen pb-12"
  >
    <div class="relative flex flex-col items-center md:flex-row" id="services">
      <div class=" bg-orange px-8 ">
        <h1 class="text-6xl mt-2 sm:text-6xl text-center font-mediumrounded-md text-white">
          Pyrenees
        </h1>
        <p class="text-lg mt-2 mb-2 font-normal text-center text-white ">
          Cycling history is around every bend
        </p>
      </div>
    </div>
  </header>

  <main class="space-y-20 mt-8">
    <Container>
      <div>
        <div class="mb-12 w-full">
          <p class="mb-4">
            The Pyrenees, stretching along the border between Spain and France, are a dream destination for cyclists seeking breathtaking landscapes and legendary climbs. This majestic mountain range offers some of the most challenging and scenic routes in Europe, with steep ascents, winding descents, and panoramic views at every turn. The Pyrenees are famous for iconic climbs like the Col du Tourmalet and Col d’Aubisque, which have tested the endurance of cyclists in the Tour de France for decades. Beyond the epic climbs, the region is also rich in natural beauty, with lush valleys, crystal-clear lakes, and charming mountain villages. Whether you're a seasoned rider looking for a challenge or someone who simply wants to soak in the stunning scenery, the Pyrenees provide an unforgettable cycling experience.
            
            <h2 class="text-3xl font-medium leading-none mb-5 mt-8">Routes</h2>

        <div class="flex flex-col w-full mb-5 md:flex-row">
          <Route
            description="A punchy ride through the Montes de Málaga with more than 1000m of elevation gain in less than 50 km."
            title="Tourmalet"
            id="destinations/malaga/puertoleon"
            distance="50"
            elevation="1050"
          />

          <Route
            title="La Cabra"
            description="The road of the 1000 turns to Casabermeja is the perfect training climb."
            id="destinations/malaga/casabermeja"
            distance="75"
            elevation="1400"
          />
        </div>
        
  
    </Container>
  </main>
</Layout>
