---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main class="space-y-20 mt-20">
    <Container>
      <h2 class="text-5xl font-medium leading-none md:text-6xl">
        The average cyclist
      </h2>
      <div class="columns-2">
        <div class="row items-center py-5 md:pb-20 md:pt-10">
          <div class="space-y-4">
            <p class="leading-7">
              A long-term traveler with a deep love for discovering new places,
              I spent years exploring South America, Europe, and Southeast Asia
              before deciding to stay in Andalucía.
            </p>

            <p class="leading-7">
              Drawn by the region’s rich culture, stunning landscapes, and
              endless sunshine, I found the perfect spot to settle for a while.
              It’s here in Spain that I rekindled my passion for cycling, thanks
              to the excellent roads and scenic routes that the area offers.
              Now, my journey continues with a blend of local living and
              exploring the beauty of Andalucía, one ride at a time.
            </p>

            <p class="leading-7">
              Although I’m reasonably well-trained, I’m an exactly average
              cyclist—on Strava and timed sections of challenges, you’ll usually
              find me somewhere near the middle of the pack. This website is for
              regular riders like me—those who love getting out on the weekends
              but don’t have the time to ride five times a week or spend 20
              hours on the bike. If you’re looking for relatable cycling
              stories, routes, and tips that fit into a balanced life, you’re in
              the right place.
            </p>
          </div>
        </div>
        <img class="pl-4" src="/the-average-cyclist/hendrik.png" />
      </div>
    </Container>
  </main>
</Layout>
