---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Destinations from "../components/Destinations.astro";
import Instagram from "../components/Instagram.tsx";
---

<Layout title="The Average Cyclist">
  <main class="space-y-20 mt-20">
    <Hero />
    <Destinations />
    <Instagram />
  </main>
</Layout>
