---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Destinations.astro";
---

<Layout title="The Average Cyclist">
  <main class="space-y-20 mt-20">
    <Hero />
    <Services />
  </main>
</Layout>
