---
import Container from "./Container.astro"
import Topic from "./Topic.astro";
import destinationsSpain from './Data/destinations-spain.json';
import destinationsFrance from './Data/destinations-france.json';
import destinationsBelgium from './Data/destinations-belgium.json';

import Destination from "./pages/root/destination.astro";

import "../styles/Destinations.css";

---
<Container>
<div class="relative flex flex-col items-center md:flex-row" id="services">
    <Topic title="Destinations" description="Some of the top destinations for your next cycling trip.">
</div>
<div class="flex-row items-center py-2">

    <Destination title="Spain" destinations={destinationsSpain} />
    <Destination title="France" destinations={destinationsFrance} />
    <Destination title="Belgium" destinations={destinationsBelgium} />

</div>
