---
import { FaInstagram } from "react-icons/fa";
import Container from "./Container.astro";
const year = new Date().getFullYear();
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer class="bg-orange bg-fixed bg-bottom text-black">
  <Container>
    <div class="py-6">
      <div class="flex flex-col items-center justify-between md:flex-row">
        <div class="flex items-center space-x-3 rtl:space-x-reverse">
          <img class="w-auto" src="/logo.png" alt="Logo" style="max-height: 250px;" />
        </div>
      </div>
    </div>
    <div class="py-4">
      <center>
        <a
          href="https://www.instagram.com/itstheaveragecyclist/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-black hover:text-gray-700"
        >
          <FaInstagram size={"2em"}  />
        </a>
      </center>
    </div>
    <div class="py-4">
      <center>
        <div class="-mx-4">
          {year} The Average Cyclist
        </div>
      </center>
    </div>
  </Container>
</footer>
