---
const { title, description } = Astro.props;
---

<div>
  <p class="text-4xl sm:text-6xl px-1 font-medium bg-orange rounded-md">
    {title}
  </p>
  <p class="text-lg mt-2 mb-6 font-normal text-center">
    {description}
  </p>
</div>
